<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/user-layout :: layout(~{::section})}">
<section>
    <h1>Мои заказы</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.idOrder}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.totalAmount}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/my-orders/{id}(id=${order.idOrder})}">Просмотр</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>