<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/admin-layout :: layout(~{::section})}">
<section>
    <h1 th:text="${formTitle}"></h1>

    <form th:action="${customer.idCustomer == null} ? @{/admin/customers} : @{/admin/customers/{id}(id=${customer.idCustomer})}"
          th:object="${customer}" method="post">

        <label>Имя:</label>
        <input type="text" th:field="*{firstName}">
        <div class="field-error" th:errors="*{firstName}"></div>

        <label>Фамилия:</label>
        <input type="text" th:field="*{lastName}">
        <div class="field-error" th:errors="*{lastName}"></div>

        <label>Отчество:</label>
        <input type="text" th:field="*{patronymic}">
        <div class="field-error" th:errors="*{patronymic}"></div>

        <label>Телефон:</label>
        <input type="text" th:field="*{phoneNumber}">
        <div class="field-error" th:errors="*{phoneNumber}"></div>

        <label>Адрес:</label>
        <input type="text" th:field="*{address}">
        <div class="field-error" th:errors="*{address}"></div>

        <label>Аккаунт:</label>
        <select name="accountId">
            <option th:each="account : ${accounts}"
                    th:value="${account.idAccount}"
                    th:text="${account.userLogin}"
                    th:selected="${customer.account != null and customer.account.idAccount == account.idAccount}">
            </option>
        </select>

        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="btn btn-secondary" th:href="@{/admin/customers}">Назад</a>
    </form>
</section>
</body>
</html>