<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/staff-layout :: layout(~{::section})}">
<section>
    <h1 th:text="${formTitle}"></h1>

    <form th:action="${brand.idBrand == null} ? @{/staff/brands} : @{/staff/brands/{id}(id=${brand.idBrand})}"
          th:object="${brand}"
          method="post">

        <label>Название:</label>
        <input type="text" th:field="*{brandName}">
        <div class="field-error" th:errors="*{brandName}"></div>

        <label>Страна:</label>
        <input type="text" th:field="*{country}">
        <div class="field-error" th:errors="*{country}"></div>

        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="btn btn-secondary" th:href="@{/staff/brands}">Назад</a>
    </form>
</section>
</body>
</html>