<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/user-layout :: layout(~{::section})}">
<section>
    <h1>Мои отзывы</h1>

    <table>
        <tr>
            <th>Товар</th>
            <th>Оценка</th>
            <th>Дата</th>
            <th>Комментарий</th>
            <th>Действия</th>
        </tr>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.product.productName}"></td>
            <td th:text="${review.rating}"></td>
            <td th:text="${review.reviewDate}"></td>
            <td th:text="${review.comment}"></td>
            <td>
                <a class="btn btn-secondary" th:href="@{/my-reviews/{id}/edit(id=${review.idReview})}">Редактировать</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>