<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/admin-layout :: layout(~{::section})}">
<section>
    <h1>Просмотр категории</h1>

    <p><strong>ID:</strong> <span th:text="${category.idCategory}"></span></p>
    <p><strong>Название:</strong> <span th:text="${category.categoryName}"></span></p>
    <p><strong>Описание:</strong> <span th:text="${category.description}"></span></p>

    <a class="btn btn-secondary" th:href="@{/admin/categories}">Назад</a>
    <a class="btn btn-primary" th:href="@{/admin/categories/{id}/edit(id=${category.idCategory})}">Редактировать</a>
</section>
</body>
</html>